* {
  margin: 30px;
  background-color: salmon;
}

main {
  background-color: burlywood;
  
}


table {
	border-collapse: separate;
  border-spacing: 5px;
  border: medium solid burlywood;
  margin: 25px auto;
}

th, td {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;;
}

th {
  background-color: pink;
  font-weight: bold;
}

header {
  width: 50%;
  margin: 25px auto;
  border: 1px solid black;
  text-align: center;  
}

#indexHeader{
  background-color: burlywood;
}

body {
  border: 1px solid black;
  min-height: 90%;
}
